:root {
  --primary: #f68a3c;
  --primary-hover: #fa6e0a;
  --secondary: rgb(211, 211, 211);
  --secondary-500: rgba(211, 211, 211, 0.5);
  --danger: #dc3545;
  --danger-hover: #a52734;
  --dark: #3a3a3a;
  --dark-bg: #232323;
  --light: #fff;
  --light-bg: #444444;
  --border: #4d4d4d;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-control {
  border-radius: 0 !important;
}

select.form-select option:hover {
  background-color: var(--primary) !important;
}

/* STEPS STYLES */

.rc-steps-item-process .rc-steps-item-icon {
  border-color: var(--primary) !important;
}

.rc-steps-item-title {
  color: var(--light) !important;
}

.rc-steps-item-finish .rc-steps-item-icon {
  color: var(--primary) !important;
  background: var(--dark) !important;
}

.rc-steps-item-process .rc-steps-item-icon .rc-steps-icon {
  color: var(--light-bg) !important;
  font-weight: bold;
}

.rc-steps-item-finish .rc-steps-item-icon {
  background: var(--primary) !important;
  color: var(--light) !important;
  border: none !important;
}

.rc-steps-item-wait .rc-steps-item-icon {
  background: var(--light-bg) !important;
}
/* STEPS STYLES END*/

.icon-hidden.form-control.is-invalid,
.icon-hidden.form-control.is-valid,
.icon-hidden .was-validated .form-control:invalid {
  background-image: none !important;
}

.rc-steps-item-error .rc-steps-item-icon {
  border: 2px solid var(--danger) !important;
  background: none !important;
  position: relative;
}

.rc-steps-item-error .rc-steps-item-icon::after {
  content: "";
  width: 15px;
  height: 15px;
  padding: 3px;
  background: var(--danger) !important;
  background-image: url(./assets/question.svg) !important;
  background-size: 10px !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  border-radius: 50%;
  bottom: 60%;
  left: 70%;
  position: absolute;
  z-index: 9999;
}

.rc-steps-item-process .rc-steps-item-icon {
  background: none !important;
}

.rc-steps-item.rc-steps-item-wait .rc-steps-item-icon .rc-steps-icon {
  color: var(--light-bg) !important;
}
.rc-steps-item.rc-steps-item-wait .rc-steps-item-icon,
.rc-steps-item.rc-steps-item-process .rc-steps-item-icon {
  border-width: 2px !important;
}

.rc-steps-item-finish .rc-steps-item-tail:after {
  background-color: var(--primary) !important;
  height: 2px;
}
.rc-steps-item-process .rc-steps-item-tail:after,
.rc-steps-item-wait .rc-steps-item-tail:after,
.rc-steps-item-error .rc-steps-item-tail:after {
  background-color: transparent !important;
  border-bottom: 2px dashed var(--light) !important;
}

.rc-steps-item:last-child .rc-steps-item-tail,
.rc-steps-item:last-child .rc-steps-item-title:after {
  content: "";
  display: inline-block !important;
  background: transparent !important;
  height: 1px;
  border-radius: 1px;
  width: 73%;
  transition: background 0.3s;
}

.rc-steps-label-vertical .rc-steps-item-tail {
  padding: 0 12px !important;
}

.bg_dark {
  background-color: var(--dark) !important;
}
.bg_dark_bg {
  background-color: var(--dark-bg) !important;
}

#user .dropdown-menu.show {
  background: var(--dark-bg) !important;
}

/* .pnlm-hotspot-base.pnlm-hotspot.pnlm-sprite.pnlm-info.pnlm-tooltip {
  background: var(--danger) !important;
  width: 20px !important;
  height: 20px !important;
} */

.pnlm-sprite.pnlm-hot-spot-debug-indicator {
  display: none !important;
}

.pnlm-hotspot-base.pnlm-hotspot.pnlm-sprite.pnlm-info.pnlm-tooltip {
  background: var(--danger) !important;
  display: flex;
  justify-content: center;
  width: 20px !important;
  height: 20px !important;
  font-size: 12px;
  font-weight: bold !important;
  border-radius: 50%;
  color: var(--light);
  background: var(--danger);
}

.custom__hotspot {
  display: flex;
  justify-content: center;
  align-items: center;
}
