.crd {
  background: var(--dark-bg) !important;
  border: 1px solid var(--secondary-500) !important;
  transition: 0.3s all ease-in-out;
  margin-top: 10px;
}

.crd:hover {
  border: 1px solid var(--primary) !important;
  transition: 0.3s all ease-in-out;
}

.img_wrapper {
  width: 220px !important;
}

.img {
  width: 100%;
}

.down {
  font-size: 18px;
  color: var(--primary) !important;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.down:hover {
  cursor: pointer;
  color: var(--light) !important;
  transition: 0.3s all ease-in-out;
}

.id {
  font-size: 18px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  color: var(--danger);
  font-weight: bold;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.star:hover {
  color: var(--primary);
}
