.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 18px;
}

.img_wrapper {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 8px;
  overflow: hidden;
}

.image {
  height: 100%;
}

.image:hover {
  cursor: pointer;
}
