.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}

.heading {
  font-size: 24px;
  font-weight: bold;
}

.logo {
  width: 40px;
}

.crd {
  width: 25rem;
  background: var(--dark-bg) !important;
  border: 1px solid var(--dark-bg) !important;
  box-shadow: 3px 3px 3px rgba($color: var(--dark-bg), $alpha: 0.5) !important;
}

.btn {
  outline: none !important;
  border: none !important;
  padding: 8px 26px;
  background: var(--primary) !important;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background: var(--primary-hover) !important;
  transition: 0.3s all ease-in-out;
}

.eyeIcon {
  position: absolute;
  right: 5px;
  top: 58%;
  cursor: pointer;
  color: var(--dark) !important;
  z-index: 99;
}

.req {
  color: var(--secondary) !important;
  font-size: 13px;
}

.img__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid var(--primary);
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  background: var(--dark) !important;
  color: var(--light) !important;
  border: none !important;
}

@media screen and (max-width: 768px) {
  .crd {
    width: 90%;
  }
}
