.wrapper {
  width: 100%;
  height: 50px;
  background: var(--dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
  color: var(--light);
}

.hr {
  height: 1px;
  width: calc(100% - 5rem);
  margin: 0 auto;
  opacity: 0.4;
  background: var(--secondary);
}

.active_btn {
  background: var(--primary) !important;
  color: var(--light);
  border-color: var(--primary) !important;
}

.active_btn:hover {
  background: var(--primary-hover) !important;
  border-color: var(--primary) !important;
}

.btn {
  background: var(--dark) !important;
  border-color: var(--primary) !important;
}

.btn:hover {
  background: var(--primary-hover) !important;
  border-color: var(--primary) !important;
}

.btn:focus,
.active_btn:focus {
  box-shadow: none !important;
  border-color: var(--primary) !important;
}

.btn__grp {
  border-color: var(--primary) !important;
}

@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column !important;
    height: auto !important;
    padding: 0 0.5rem !important;
  }
  .list__icon {
    display: none;
  }
}
