.bc_home {
  color: var(--light) !important;
  text-decoration: none !important;
}

.bc_name {
  color: var(--primary) !important;
  text-decoration: none !important;
}

.wrapper {
  padding: 1rem 0;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  padding-bottom: 0;
  border-bottom: 1px solid var(--secondary-500);
}

.btn {
  outline: none !important;
  border: none !important;
  padding: 8px 26px;
  background: var(--primary) !important;
  transition: 0.3s all ease-in-out;
  margin-top: 7px;
  margin-right: 2.5rem;
}

.btn:hover {
  background: var(--primary-hover) !important;
  transition: 0.3s all ease-in-out;
}
