.wrapper {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  background: var(--dark-bg);
}
.background {
  width: 100vw;
  min-height: 100vh;
  height: 100% !important;
  background: var(--dark-bg);
  background-size: cover;
}
.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #baffac;
  top: 21%;
  left: 59%;
  animation-duration: 14.7s;
  animation-delay: -2.6s;
  transform-origin: 2vw -10vh;
  box-shadow: -40vmin 0 18820796195vmin currentColor;
}
.background span:nth-child(2) {
  color: #baffac;
  top: 13%;
  left: 23%;
  animation-duration: 13.2s;
  animation-delay: -10.9s;
  transform-origin: 4vw 5vh;
  box-shadow: -40vmin 0 13395765415vmin currentColor;
}
.background span:nth-child(3) {
  color: #91e45a;
  top: 90%;
  left: 79%;
  animation-duration: 13.4s;
  animation-delay: -13.8s;
  transform-origin: -16vw 11vh;
  box-shadow: -40vmin 0 13636391075vmin currentColor;
}
.background span:nth-child(4) {
  color: #91e45a;
  top: 75%;
  left: 24%;
  animation-duration: 10.4s;
  animation-delay: -15.7s;
  transform-origin: -13vw -22vh;
  box-shadow: -40vmin 0 8077271675vmin currentColor;
}
.background span:nth-child(5) {
  color: #91e45a;
  top: 32%;
  left: 34%;
  animation-duration: 11.2s;
  animation-delay: -12.7s;
  transform-origin: -21vw 4vh;
  box-shadow: -40vmin 0 4842422475vmin currentColor;
}
.background span:nth-child(6) {
  color: #baffac;
  top: 68%;
  left: 52%;
  animation-duration: 11.8s;
  animation-delay: -10.6s;
  transform-origin: 20vw 6vh;
  box-shadow: -40vmin 0 15125320595vmin currentColor;
}
.background span:nth-child(7) {
  color: #91e45a;
  top: 53%;
  left: 92%;
  animation-duration: 14.7s;
  animation-delay: -11.6s;
  transform-origin: 12vw 18vh;
  box-shadow: -40vmin 0 19512654425vmin currentColor;
}
.background span:nth-child(8) {
  color: var(--primary);
  top: 91%;
  left: 78%;
  animation-duration: 12.7s;
  animation-delay: -6.4s;
  transform-origin: 3vw -19vh;
  box-shadow: -40vmin 0 6588820435vmin currentColor;
}
.background span:nth-child(9) {
  color: #91e45a;
  top: 92%;
  left: 46%;
  animation-duration: 14.2s;
  animation-delay: -4s;
  transform-origin: 24vw 2vh;
  box-shadow: -40vmin 0 4889032965vmin currentColor;
}
.background span:nth-child(10) {
  color: var(--primary);
  top: 10%;
  left: 86%;
  animation-duration: 11.1s;
  animation-delay: -15.5s;
  transform-origin: 25vw 16vh;
  box-shadow: -40vmin 0 1239648775vmin currentColor;
}
.background span:nth-child(11) {
  color: #baffac;
  top: 48%;
  left: 68%;
  animation-duration: 11.1s;
  animation-delay: -4.8s;
  transform-origin: -11vw -2vh;
  box-shadow: -40vmin 0 14829747275vmin currentColor;
}
.background span:nth-child(12) {
  color: #baffac;
  top: 54%;
  left: 83%;
  animation-duration: 11.2s;
  animation-delay: -8.1s;
  transform-origin: 6vw 3vh;
  box-shadow: -40vmin 0 9533830085vmin currentColor;
}
.background span:nth-child(13) {
  color: var(--primary);
  top: 95%;
  left: 60%;
  animation-duration: 10.5s;
  animation-delay: -5.8s;
  transform-origin: -6vw 22vh;
  box-shadow: -40vmin 0 9678083945vmin currentColor;
}
.background span:nth-child(14) {
  color: var(--primary);
  top: 85%;
  left: 16%;
  animation-duration: 12.8s;
  animation-delay: -15.6s;
  transform-origin: -13vw -12vh;
  box-shadow: -40vmin 0 4988335325vmin currentColor;
}
.background span:nth-child(15) {
  color: #baffac;
  top: 16%;
  left: 55%;
  animation-duration: 11.7s;
  animation-delay: -2.5s;
  transform-origin: -9vw 3vh;
  box-shadow: -40vmin 0 7122010095vmin currentColor;
}
.background span:nth-child(16) {
  color: #baffac;
  top: 62%;
  left: 68%;
  animation-duration: 15.5s;
  animation-delay: -9.6s;
  transform-origin: -19vw 13vh;
  box-shadow: -40vmin 0 21178537535vmin currentColor;
}
.background span:nth-child(17) {
  color: #baffac;
  top: 9%;
  left: 98%;
  animation-duration: 14.4s;
  animation-delay: -3.5s;
  transform-origin: -18vw -20vh;
  box-shadow: -40vmin 0 14619376235vmin currentColor;
}
.background span:nth-child(18) {
  color: #91e45a;
  top: 75%;
  left: 53%;
  animation-duration: 14.9s;
  animation-delay: -12s;
  transform-origin: -20vw 24vh;
  box-shadow: -40vmin 0 3599309285vmin currentColor;
}
.background span:nth-child(19) {
  color: var(--primary);
  top: 6%;
  left: 47%;
  animation-duration: 15.7s;
  animation-delay: -7.3s;
  transform-origin: -9vw -9vh;
  box-shadow: -40vmin 0 13158977175vmin currentColor;
}
.background span:nth-child(20) {
  color: var(--primary);
  top: 57%;
  left: 23%;
  animation-duration: 12.4s;
  animation-delay: -6.8s;
  transform-origin: -4vw 6vh;
  box-shadow: -40vmin 0 4220100545vmin currentColor;
}
@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
